body {
  text-align: center;
  background: linear-gradient(to bottom, white, #2db9cc);
}

@font-face {
  font-family: snake-eyes-font;
  src: url(fonts/snake-eyes.ttf);
}

#title {
  font-family: snake-eyes-font;
  font-size: 12vw;
  color: darkgreen;
  margin: 0;
}

#score {
  display: inline;
  margin-right: 400px;
  font-size: 3vw;
}

#score::before {
  background-image: url("images/rodent.svg");
  background-size: 3vw 3vw;
  background-repeat: no-repeat;
  display: inline-block;
  width: 3vw;
  height: 3vw;
  content: "";
}

#best-score {
  display: inline;
  font-size: 3vw;
}

#best-score::before {
  background-image: url("images/trophy.png");
  background-repeat: no-repeat;
  background-size: 3vw 3vw;
  display: inline-block;
  width: 3vw;
  height: 3vw;
  content: "";
}

canvas {
  margin: auto;
  display: block;
}
