body {
  text-align: center;
  background: linear-gradient(to bottom, white, #2db9cc);
}

@font-face {
  font-family: snake-eyes-font;
  src: url(fonts/snake-eyes.ttf);
}

#title {
  font-family: snake-eyes-font;
  font-size: 10vw;
  color: darkgreen;
  margin: 0;
}

#score::before {
  background-image: url("images/rodent.svg");
  background-size: 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
}
